<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

   <!-- Initialization for data source -->
   <bean id="dataSource" 
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://10.0.1.33:3306/barracudatest?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useSSL=false&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
      <property name="username" value="joeadmin"/>
      <property name="password" value="xyzabc123"/>
   </bean>

   <!-- Definition for uploadedFileJDBCTemplate bean -->
   <bean id="uploadedFileJDBCTemplate" 
      class="org.armstrongonline.fileservice.model.UploadedFileJDBC">
      <property name="dataSource"  ref="dataSource" />    
   </bean> 
   
   <!-- Definition for FileService bean -->
   <bean id="fileServiceBean" 
      class="org.armstrongonline.fileservice.service.FileService">    
   </bean> 
</beans>